{% extends 'layout.html' %}

{% block content %}
<div style="width: 1900px; height: 50px;">

    {% for fila in tablero %}
        <div style="width: 100%;">
            {% for columna in fila['celdas'] %}
                <div style="width: 50px; background-color:darkgray; height: 50px; border: 1px solid black; float: left;">
                    <span title="({{ columna.x }}, {{ columna.y }}), bandera={{ columna.bandera }}, contenido={{ columna.contenido }}"></span>
                </div>


            {% endfor %}
        </div>

        <div style="clear: both;"></div>
    {% endfor %}
</div>
{% endblock %}