{% extends 'layout.html' %}

{% block content %}
<div style="width: 1900px; height: 50px;">

    {% for fila in filas %}
        <div style="width: 100%;">
            {% for celda in fila['celdas'] %}
                <div onClick="" style="width: 50px; background-color:darkgray; height: 50px; border: 1px solid black; float: left;" title="({{ celda['nro_celda']  }},{{ fila['nro_fila'] }})">
                    <span title="({{ celda['nro_celda'] }}, {{ fila['nro_fila'] }}"></span>
                </div>


            {% endfor %}
        </div>

        <div style="clear: both;"></div>
    {% endfor %}
</div>
{% endblock %}